.chatFooter {
    display: flex;
    padding: 1rem;
    border-top: 1px solid #ddd;
    background-color: #fff;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 1.5rem;
}

.Input { 
    flex: 1; /* Takes up the available space in the footer */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.sendButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #45a049;
}